[credential]
	helper = store
[user]
	name = vladpopovici
	email = popovici@bioxlab.org
	password = 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
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
